{%extends 'base.html'%} {% block content %} {{ block.super}} {% load bootstrap4 %}
<br>
<br>
<div class="container">
    <div class="card-columns">
        {% for image in images %}
        <div class="card border-secondary">
            <img class="card-img-top" class="img-responsive" src="{{image.image.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200">
        </div>
        {%endfor%}
    </div>
</div>
{% for image in images %}
<!-- Modal -->
<div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Title: {{image.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <img class="card-img-top" class="img-responsive" src="{{image.image.url}}" size="100px200">
        <p> Category: {{ image.categories }} </p>
        <p>Location: {{image.location}}</p>
        
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{%endfor%} 
{% endblock %}