{%extends 'base.html'%}
{% block content %}
<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-md-6">
      <img src="{{image.image.url}}" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h1 class="text-center">{{image.image_name}}</h1>
      <div>
        <h3 style="color: blanchedalmond; font-size: 35px;">Title:</h3><br>
        <p style="color: blanchedalmond; font-size: 25px;">{{image.title}}</p>
      </div>
      <div>
        <h3 style="color: blanchedalmond; font-size: 35px;">Category:</h3>
        <p style="color: blanchedalmond; font-size: 25px;">{{image.categories}}</p>
      </div>
      <div>
        <!-- <h3>Posted</h3> -->
        <p>{{image.posted_date}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}