/* #base{
    background-color: aquamarine;
} */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|EB+Garamond|Karma|Neucha|Overlock|Tangerine');

h1{
    font-size: 75px;
    font-family: 'Tangerine', cursive;
    color: blanchedalmond;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../pexelbackground.webp) fixed;
  
    background-position:0% 51%;
    background-size:cover;
    background-repeat:repeat
}
img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .hover:hover img {
    opacity: 0.7;
  }
  